<form #m="ngForm"(ngSubmit)="ajouter()">
    Title: <input class="form-control" type="text" name="title" [(ngModel)]="product.title" #title="ngModel" required minlength="3">
    <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
    <div  *ngIf="title.errors?.['required']"> title is required</div>
    <div  *ngIf="title.errors?.['minlength']">title must have at least 3 characteres</div>
    </div>
    Price: <input class="form-control" type="number" name="price" [(ngModel)]="product.price" #price="ngModel" required minlength="1">
    <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
        <div  *ngIf="price.errors?.['required']"> price is required</div>
        <div  *ngIf="price.errors?.['minlength']">price must have at least 1 characteres</div>
        </div>
    Quantity: <input class="form-control" type="number" name="quantity" [(ngModel)]="product.quantity" #quantity="ngModel" required minlength="1">
    <div class="alert alert-danger" *ngIf="quantity.touched && quantity.invalid">
        <div  *ngIf="quantity.errors?.['required']"> quantity is required</div>
        <div  *ngIf="quantity.errors?.['minlength']">quantity must have at least 1 characteres</div>
        </div>
    Picture:<input class="form-control" type="text" name="picture" [(ngModel)]="product.picture" #picture="ngModel" required>
    <div class="alert alert-danger" *ngIf="picture.touched && picture.invalid">
        <div  *ngIf="picture.errors?.['required']"> picture is required</div>
        <div  *ngIf="picture.errors?.['minlength']">picture must have at least 1 characteres</div>
        </div>
       
    <input type="submit" value="Save" [disabled]="m.invalid">

</form>
{{product.title}}
{{product.price}}
{{product.quantity}}
{{product.picture}}